In [1]:
import pandas as pd

df=pd.read_csv("food_coded.csv")
df

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [2]:
df2=df.copy()

In [3]:
df2.columns=[x.lower() for x in df2.columns]
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [4]:
df_main=df2.copy()

In [5]:
df2['gpa'].isna().sum()

2

In [6]:
df2=df2.dropna(subset=['gpa'])
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,NaN,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,NaN,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [7]:
df_main=df2.copy()

In [8]:
df2['gender'].isna().sum()

0

In [9]:
df2['gender'].dtype

dtype('int64')

In [12]:
df2['breakfast'].isna().sum()

0

In [13]:
df2['calories_chicken'].isna().sum()

0

In [17]:
df2['calories_day']

3.0

In [18]:
df2['calories_day']=df2['calories_day'].fillna(1)
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3827149377.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['calories_day']=df2['calories_day'].fillna(1)

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4.0,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2.0,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1.0,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4.0,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1.0,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [19]:
df2['calories_day']=df2['calories_day'].astype(float).astype("Int64")
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3788903527.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['calories_day']=df2['calories_day'].astype(float).astype("Int64")

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [20]:
df_main=df2.copy()

df_main

In [21]:
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [22]:
df2['calories_scone'].isna().sum()

1

In [23]:
df2['calories_scone']=df2['calories_scone'].fillna(df2['calories_scone'].median())
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3941608493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['calories_scone']=df2['calories_scone'].fillna(df2['calories_scone'].median())

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [25]:
df2['coffee'].dtype

dtype('int64')

In [26]:
df2['comfort_food'].isna().sum()

1

In [27]:
df2=df2.dropna(subset=['comfort_food'])
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [28]:
df_main=df2.copy()
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [29]:
df2['comfort_food_reasons'].isna().sum()

1

In [30]:
df2=df2.dropna(subset=['comfort_food_reasons'])
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,NaN,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,NaN,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,NaN,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",NaN,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",NaN,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [31]:
df_main=df2.copy()

In [33]:
df2['comfort_food_reasons_coded'].median()

2.0

In [34]:
df2['comfort_food_reasons_coded']=df2['comfort_food_reasons_coded'].fillna(9)
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/706293105.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comfort_food_reasons_coded']=df2['comfort_food_reasons_coded'].fillna(9)

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9.0,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9.0,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9.0,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9.0,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9.0,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [35]:
df2['comfort_food_reasons_coded'].dtype

dtype('float64')

In [36]:
df2['comfort_food_reasons_coded']=df2['comfort_food_reasons_coded'].astype(float).astype("Int64")
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2804187652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comfort_food_reasons_coded']=df2['comfort_food_reasons_coded'].astype(float).astype("Int64")

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [37]:
df_main=df2.copy()

In [41]:
df2['cook']=df2['cook'].fillna(df2['cook'].median())
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/4287408551.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cook']=df2['cook'].fillna(df2['cook'].median())

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [42]:
df2['cook']=df2['cook'].astype(float).astype("Int64")
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1046825671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cook']=df2['cook'].astype(float).astype("Int64")

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [43]:
df2['cook']

0      2
1      3
2      1
3      2
4      1
      ..
120    3
121    3
122    3
123    3
124    3
Name: cook, Length: 121, dtype: Int64

In [44]:
df_main=df2.copy()

In [46]:
df2['cuisine'].median()

1.0

In [47]:
df2['cuisine']=df2['cuisine'].fillna(df2['cuisine'].median())
df2['cuisine']

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1063699902.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cuisine']=df2['cuisine'].fillna(df2['cuisine'].median())

0      1.0
1      1.0
2      3.0
3      2.0
4      2.0
      ...
120    1.0
121    1.0
122    1.0
123    1.0
124    3.0
Name: cuisine, Length: 121, dtype: float64

In [48]:
df2['cuisine']=df2['cuisine'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2566585019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cuisine']=df2['cuisine'].astype(float).astype("Int64")

In [49]:
df_main=df2.copy()

In [51]:
df2['diet_current'].isna().sum()

0

In [53]:
df2['diet_current_coded'].isna().sum()

0

In [57]:
df2['drink'].mode()

0    2.0
Name: drink, dtype: float64

In [58]:
df2['drink']=df2['drink'].fillna(df2['drink'].mode())
df2['drink']=df2['drink'].astype(float).astype("Int64")
df2['drink']

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2539854469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['drink']=df2['drink'].fillna(df2['drink'].mode())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2539854469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['drink']=df2['drink'].astype(float).astype("Int64")

0      1
1      2
2      1
3      2
4      2
      ..
120    2
121    1
122    1
123    2
124    1
Name: drink, Length: 121, dtype: Int64

In [59]:
df_main=df2.copy()

In [61]:
df2['eating_changes'].isna().sum()

2

In [62]:
df2=df2.dropna(subset=['eating_changes'])
df2['eating_changes'].isna().sum()

0

In [63]:
df_main=df2.copy()

In [65]:
df2['eating_changes_coded'].isna().sum()

0

In [67]:
df2['eating_out'].isna().sum()

0

In [70]:
df2['employment'].mode()

0    2.0
Name: employment, dtype: float64

In [71]:
df2['employment']=df2['employment'].fillna(4)

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3183086039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['employment']=df2['employment'].fillna(4)

In [72]:
df2['employment']=df2['employment'].astype(float).astype("Int64")
df2['employment']

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2088820736.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['employment']=df2['employment'].astype(float).astype("Int64")

0      3
1      2
2      3
3      3
4      2
      ..
120    1
121    3
122    3
123    2
124    2
Name: employment, Length: 119, dtype: Int64

In [73]:
df_main=df2.copy()

In [74]:
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [76]:
df2['ethnic_food'].isna().sum()

0

In [82]:
df2['exercise'].mode()

0    1.0
Name: exercise, dtype: float64

In [83]:
df2['exercise']=df2['exercise'].fillna(1)

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3376577578.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['exercise']=df2['exercise'].fillna(1)

In [84]:
df2['exercise']=df2['exercise'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2731335970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['exercise']=df2['exercise'].astype(float).astype("Int64")

In [85]:
df_main=df2.copy()

In [90]:
df2['father_education'].mean()

3.5

In [91]:
df2['father_education']=df2['father_education'].fillna(3)
df2['father_education']=df2['father_education'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2704994798.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['father_education']=df2['father_education'].fillna(3)
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2704994798.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['father_education']=df2['father_education'].astype(float).astype("Int64")

In [93]:
df2['father_education']

0      5
1      2
2      2
3      2
4      4
      ..
120    4
121    5
122    5
123    3
124    4
Name: father_education, Length: 119, dtype: Int64

In [94]:
df_main=df2.copy()

In [96]:
df2['father_profession'].isna().sum()

3

In [97]:
df2['father_profession']=df2['father_profession'].fillna("No Response")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/541665386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['father_profession']=df2['father_profession'].fillna("No Response")

In [98]:
df_main=df2.copy()

In [100]:
df2['fav_cuisine'].isna().sum()

1

In [101]:
df2['fav_cuisine']=df2['fav_cuisine'].fillna("No Response")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1562369572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fav_cuisine']=df2['fav_cuisine'].fillna("No Response")

In [102]:
df_main=df2.copy()

In [104]:
df2['fav_cuisine_coded'].isna().sum()

0

In [108]:
df2['fav_food'].median()

1.0

In [109]:
df2['fav_food']=df2['fav_food'].fillna(df2['fav_food'].median())

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1542188616.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fav_food']=df2['fav_food'].fillna(df2['fav_food'].median())

In [110]:
df2['fav_food']=df2['fav_food'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2737753188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['fav_food']=df2['fav_food'].astype(float).astype("Int64")

In [111]:
df_main=df2.copy()

In [112]:
df2['fries']

0      2
1      1
2      1
3      2
4      1
      ..
120    1
121    1
122    1
123    1
124    1
Name: fries, Length: 119, dtype: int64

In [113]:
df2['fries'].isna().sum()

0

In [114]:
df2['fruit_day']

0      5
1      4
2      5
3      4
4      4
      ..
120    5
121    4
122    4
123    5
124    3
Name: fruit_day, Length: 119, dtype: int64

In [115]:
df2['fruit_day'].isna().sum()

0

In [117]:
df2['grade_level'].isna().sum()

0

In [118]:
df_main=df2.copy()

In [119]:
df2['greek_food']

0      5
1      4
2      5
3      5
4      4
      ..
120    5
121    1
122    5
123    1
124    2
Name: greek_food, Length: 119, dtype: int64

In [120]:
df2['greek_food'].isna().sum()

0

In [123]:
df2.columns

Index(['gpa', 'gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [124]:
df2['healthy_feeling']

0      2
1      5
2      6
3      7
4      6
      ..
120    5
121    5
122    6
123    1
124    3
Name: healthy_feeling, Length: 119, dtype: int64

In [125]:
df2['healthy_feeling'].isna().sum()

0

In [126]:
df2['healthy_meal']

0                                        looks not oily
1      Grains, Veggies, (more of grains and veggies),...
2      usually includes natural ingredients; nonproce...
3               Fresh fruits& vegetables, organic meats
4      A lean protein such as grilled chicken, green ...
                             ...
120    mainly protein and vegetables with a complex c...
121    A healthy meal is a variety of food , organic ...
122                                   lots of vegetables
123    A protein, a fruit, a starch, and a salad or s...
124                a cup of rice, vegetables, and meat.
Name: healthy_meal, Length: 119, dtype: object

In [127]:
df2['healthy_meal'].isna().sum()

0

In [128]:
df2['ideal_diet']

0                                         being healthy
1      Try to eat 5-6 small meals a day. While trying...
2           i would say my ideal diet is my current diet
3         Healthy, fresh veggies/fruits & organic foods
4      Ideally I would like to be able to eat healthi...
                             ...
120    My ideal diet would consist of a majority of w...
121    Eating home cooked meals everyday and being ab...
122                                      lots of veggies
123    My ideal diet is the diet i am currently on.  ...
124    Being able to balance between sweets, vegetabl...
Name: ideal_diet, Length: 119, dtype: object

In [129]:
df2['ideal_diet'].isna().sum()

0

In [130]:
df2['ideal_diet_coded']

0      8
1      3
2      6
3      2
4      2
      ..
120    6
121    5
122    2
123    6
124    3
Name: ideal_diet_coded, Length: 119, dtype: int64

In [131]:
df2['ideal_diet_coded'].isna().sum()

0

In [132]:
df2['income']

0      5.0
1      4.0
2      6.0
3      6.0
4      6.0
      ...
120    4.0
121    2.0
122    2.0
123    4.0
124    5.0
Name: income, Length: 119, dtype: float64

In [133]:
df2['income'].isna().sum()

0

In [134]:
df2['indian_food']

0      5
1      4
2      5
3      5
4      2
      ..
120    3
121    5
122    5
123    1
124    2
Name: indian_food, Length: 119, dtype: int64

In [135]:
df2['indian_food'].isna().sum()

0

In [136]:
df2['italian_food']

0      5
1      4
2      5
3      5
4      5
      ..
120    5
121    5
122    3
123    5
124    3
Name: italian_food, Length: 119, dtype: int64

In [137]:
df2['italian_food'].isna().sum()

0

In [138]:
df2["life_rewarding"]

0       1.0
1       1.0
2       7.0
3       2.0
4       1.0
       ...
120     7.0
121     7.0
122    10.0
123     1.0
124     5.0
Name: life_rewarding, Length: 119, dtype: float64

In [139]:
df2["life_rewarding"].isna().sum()

0

In [140]:
df2["life_rewarding"]=df2["life_rewarding"].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3479120714.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["life_rewarding"]=df2["life_rewarding"].astype(float).astype("Int64")

In [141]:
df_main=df2.copy()

In [143]:
df2['marital_status']

0      1.0
1      2.0
2      2.0
3      2.0
4      1.0
      ...
120    1.0
121    1.0
122    1.0
123    1.0
124    2.0
Name: marital_status, Length: 119, dtype: float64

In [144]:
df2['marital_status'].isna().sum()

1

In [146]:
df2['marital_status'].mode()

0    1.0
Name: marital_status, dtype: float64

In [147]:
df2['marital_status']=df2['marital_status'].fillna(df2['marital_status'].mode())
df2['marital_status']=df2['marital_status'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1715983244.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['marital_status']=df2['marital_status'].fillna(df2['marital_status'].mode())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1715983244.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['marital_status']=df2['marital_status'].astype(float).astype("Int64")

In [148]:
df_main=df2.copy()

In [149]:
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [150]:
df2['meals_dinner_friend']

0                                   rice, chicken,  soup
1                                 Pasta, steak, chicken
2      chicken and rice with veggies, pasta, some kin...
3       Grilled chicken \rStuffed Shells\rHomemade Chili
4      Chicken Parmesan, Pulled Pork, Spaghetti and m...
                             ...
120                                   pasta, fish, steak
121          Fried Rice \rBaked potatoes \rCurry Chicken
122                                   meat, rice, kimchi
123                         Pizza, Spaghetti, Baked Ziti
124                          Vegetables, Meat, and rice.
Name: meals_dinner_friend, Length: 119, dtype: object

In [151]:
df2['mothers_education']

KeyError: 'mothers_education'

In [152]:
df2.columns

Index(['gpa', 'gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [153]:
df2['mother_education']

0      1.0
1      4.0
2      2.0
3      4.0
4      5.0
      ...
120    3.0
121    2.0
122    1.0
123    2.0
124    3.0
Name: mother_education, Length: 119, dtype: float64

In [156]:
df2['mother_education'].mean()

3.41025641025641

In [157]:
df2['mother_education']=df2['mother_education'].fillna(3)
df2['mother_education']=df2['mother_education'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2086909737.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['mother_education']=df2['mother_education'].fillna(3)
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2086909737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['mother_education']=df2['mother_education'].astype(float).astype("Int64")

In [159]:
df2['mother_education'].isna().sum()

0

In [160]:
df_main=df2.copy()

In [165]:
df2['mother_profession'].isna().sum()

1

In [166]:
df2['mother_profession']=df2['mother_profession'].fillna("No Response")
df2

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1841235484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['mother_profession']=df2['mother_profession'].fillna("No Response")

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1.0,5,940.0,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,NaN,4,940.0,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2.0,5,580.0,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2.0,1,940.0,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2.0,2,725.0,345,NaN,4,2,575,135

In [168]:
df2['nutritional_check'].isna().sum()

0

In [169]:
df_main=df2.copy()

In [174]:
df2['on_off_campus'].mode()

0    1.0
Name: on_off_campus, dtype: float64

In [175]:
df2['on_off_campus']=df2['on_off_campus'].fillna(df2['on_off_campus'].mode())
df2['on_off_campus']=df2['on_off_campus'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3505580314.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['on_off_campus']=df2['on_off_campus'].fillna(df2['on_off_campus'].mode())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3505580314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['on_off_campus']=df2['on_off_campus'].astype(float).astype("Int64")

In [176]:
df_main=df2.copy()

In [178]:
df2['parents_cook'].isna().sum()

0

In [180]:
df2['pay_meal_out'].isna().sum()

0

In [181]:
df2['persian_food'].isna().sum()

0      5.0
1      4.0
2      5.0
3      5.0
4      2.0
      ...
120    3.0
121    1.0
122    5.0
123    1.0
124    2.0
Name: persian_food, Length: 119, dtype: float64

In [186]:
df2['persian_food'].mode()

0    1.0
Name: persian_food, dtype: float64

In [187]:
df2['persian_food']=df2['persian_food'].fillna(df2['persian_food'].mode())
df2['persian_food']=df2['persian_food'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2636671190.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['persian_food']=df2['persian_food'].fillna(df2['persian_food'].mode())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2636671190.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['persian_food']=df2['persian_food'].astype(float).astype("Int64")

In [188]:
df_main=df2.copy()

In [189]:
df2['self_perception']

KeyError: 'self_perception'

In [190]:
df2.columns

Index(['gpa', 'gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [191]:
df2['self_perception_weight']

0      3.0
1      3.0
2      6.0
3      5.0
4      4.0
      ...
120    4.0
121    4.0
122    4.0
123    2.0
124    3.0
Name: self_perception_weight, Length: 119, dtype: float64

In [194]:
df2['self_perception_weight'].mode()

0    3.0
Name: self_perception_weight, dtype: float64

In [195]:
df2['self_perception_weight']=df2['self_perception_weight'].fillna(df2['self_perception_weight'].mode())
df2['self_perception_weight']=df2['self_perception_weight'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3535138450.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['self_perception_weight']=df2['self_perception_weight'].fillna(df2['self_perception_weight'].mode())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3535138450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['self_perception_weight']=df2['self_perception_weight'].astype(float).astype("Int64")

In [196]:
df_main=df2.copy()

In [259]:
df2['soup']=df2['soup'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1296655928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['soup']=df2['soup'].astype(float).astype("Int64")

In [198]:
df2['soup'].isna().sum()

0

In [199]:
df2['sports']

0      1.0
1      1.0
2      2.0
3      2.0
4      1.0
      ...
120    1.0
121    NaN
122    2.0
123    2.0
124    2.0
Name: sports, Length: 119, dtype: float64

In [202]:
df2['sports'].mode()

0    1.0
Name: sports, dtype: float64

In [241]:
df2['sports']=df2['sports'].fillna(df2['sports'].mode()[0])
df2['sports']=df2['sports'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/51838338.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sports']=df2['sports'].fillna(df2['sports'].mode()[0])
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/51838338.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['sports']=df2['sports'].astype(float).astype("Int64")

In [242]:
df_main=df2.copy()

In [243]:
df2['thai_food']

0      1
1      2
2      5
3      5
4      4
      ..
120    5
121    4
122    5
123    1
124    2
Name: thai_food, Length: 119, dtype: int64

In [244]:
df2['thai_food'].isna().sum()

0

In [245]:
df2['tortilla_calories']

0      1165
1       725
2      1165
3       725
4       940
       ...
120     940
121     940
122     580
123     940
124     725
Name: tortilla_calories, Length: 119, dtype: Int64

In [246]:
df2['tortilla_calories'].median()

940.0

In [247]:
df2['tortilla_calories']=df2['tortilla_calories'].fillna(df2['tortilla_calories'].median())
df2['tortilla_calories']=df2['tortilla_calories'].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2319872906.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tortilla_calories']=df2['tortilla_calories'].fillna(df2['tortilla_calories'].median())
/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2319872906.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['tortilla_calories']=df2['tortilla_calories'].astype(float).astype("Int64")

In [248]:
df_main=df2.copy()

In [213]:
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2,5,1165,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2,5,725,690,NaN,3,1,1315,"Not sure, 240"
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,<NA>,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2,1,940,500,NaN,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2,2,725,345,NaN,4,2,575,135

In [249]:
df2['turkey_calories']

0      345
1      690
2      500
3      690
4      500
      ...
120    500
121    500
122    690
123    500
124    345
Name: turkey_calories, Length: 119, dtype: int64

In [250]:
df2['turkey_calories'].isna().sum()

0

In [251]:
df2['type_sports'].isna().sum()

0

In [218]:
df2['type_sports']=df2['type_sports'].fillna("No Response")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/43889459.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['type_sports']=df2['type_sports'].fillna("No Response")

In [252]:
df_main=df2.copy()

In [253]:
df2['vitamins']

0      1
1      2
2      1
3      1
4      2
      ..
120    1
121    2
122    2
123    1
124    2
Name: vitamins, Length: 119, dtype: int64

In [254]:
df2['vitamins'].isna().sum()

0

In [255]:
df2['waffle_calories']

0      1315
1       900
2       900
3      1315
4       760
       ...
120    1315
121    1315
122    1315
123    1315
124     575
Name: waffle_calories, Length: 119, dtype: int64

In [256]:
df2['waffle_calories'].isna().sum()

0

In [257]:
df2['weight']

0      187
1      155
2      140
3      240
4      190
      ...
120    156
121    180
122    120
123    135
124    135
Name: weight, Length: 119, dtype: Int64

In [258]:
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,1,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2,2,725,345,No Response,4,2,575,135

In [226]:
df2["weight"]=df2["weight"].str.extract(r"(\d+)")
df2["weight"]

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1425744164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["weight"]=df2["weight"].str.extract(r"(\d+)")

0      187
1      155
2      NaN
3      240
4      190
      ...
120    156
121    180
122    120
123    135
124    135
Name: weight, Length: 119, dtype: object

In [227]:
df2["weight"]=df2["weight"].astype(float).astype("Int64")

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/3387927964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["weight"]=df2["weight"].astype(float).astype("Int64")

In [233]:
df2["weight"].mode()

155.0

In [237]:
df2["weight"]=df2["weight"].fillna(df2["weight"].mode()[0])

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1635648834.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["weight"]=df2["weight"].fillna(df2["weight"].mode()[0])

In [238]:
df2["weight"].head(60)

0     187
1     155
2     140
3     240
4     190
5     190
6     180
7     137
8     180
9     125
10    116
11    110
12    264
13    123
14    185
16    145
17    170
18    135
19    165
20    175
21    195
22    185
23    185
24    105
25    125
26    160
27    175
28    180
29    167
30    115
31    205
32    140
33    128
34    150
35    150
36    150
37    170
38    150
39    175
40    140
41    120
42    135
43    100
44    170
45    113
46    168
47    145
48    155
49    150
50    169
51    185
52    200
54    165
55    192
56    175
57    140
58    155
59    155
60    135
61    118
Name: weight, dtype: Int64

In [239]:
df_main=df2.copy()

In [240]:
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1.0,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1.0,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1.0,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1.0,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1.0,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1.0,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1.0,<NA>,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1.0,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2.0,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1.0,2,2,725,345,No Response,4,2,575,135

In [260]:
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1,1,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1,2,2,725,345,No Response,4,2,575,135

In [261]:
df_main=df2.copy()
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1,1,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1,2,2,725,345,No Response,4,2,575,135

In [262]:
import re

def clean_open_text(series: pd.Series) -> pd.Series:
    return (
        series
        .fillna("")  # handle NaN safely
        .str.replace(r"[\r\n/\\;|]+", ",", regex=True)   # replace separators with comma
        .str.replace(r"\s*,\s*", ",", regex=True)        # normalize spaces around commas
        .str.replace(r",+", ",", regex=True)             # remove duplicate commas
        .str.strip(",. ")                                # strip commas, dots, spaces
    )

In [263]:
df2

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1,...,1,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1,...,1,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2,...,1,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1,...,1,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese, pizza, ice cream",boredom and sadness,9,...,1,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,Pizza / Wings / Cheesecake,Loneliness / Homesick / Sadness,9,...,1,1,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice, potato, seaweed soup",sadness,9,...,1,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese, Lasagna, Pizza","happiness, they are some of my favorite foods",9,...,2,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates, pizza, and Ritz.","hormones, Premenstrual syndrome.",9,...,1,2,2,725,345,No Response,4,2,575,135

In [264]:
df2['comfort_food']=clean_open_text(df2['comfort_food'])

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/699137031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comfort_food']=clean_open_text(df2['comfort_food'])

In [265]:
df2['comfort_food']

0                                      none
1                 chocolate,chips,ice cream
2             frozen yogurt,pizza,fast food
3            Pizza,Mac and cheese,ice cream
4                 Ice cream,chocolate,chips
                       ...
120    wine. mac and cheese,pizza,ice cream
121                  Pizza,Wings,Cheesecake
122                rice,potato,seaweed soup
123              Mac n Cheese,Lasagna,Pizza
124               Chocolates,pizza,and Ritz
Name: comfort_food, Length: 119, dtype: object

In [266]:
df2['comfort_food_reasons']=clean_open_text(df2['comfort_food_reasons'])

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/2823403874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['comfort_food_reasons']=clean_open_text(df2['comfort_food_reasons'])

In [267]:
df2['comfort_food_reasons']

0                              we dont have comfort
1                                Stress,bored,anger
2                                    stress,sadness
3                                           Boredom
4                           Stress,boredom,cravings
                           ...
120                             boredom and sadness
121                     Loneliness,Homesick,Sadness
122                                         sadness
123    happiness,they are some of my favorite foods
124                  hormones,Premenstrual syndrome
Name: comfort_food_reasons, Length: 119, dtype: object

In [269]:

df2['diet_current']=clean_open_text(df2['diet_current'])
df2['diet_current']

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/782898739.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['diet_current']=clean_open_text(df2['diet_current'])

0                                  eat good and exercise
1      I eat about three times a day with some snacks...
2      toast and fruit for breakfast,salad for lunch,...
3      College diet,cheap and easy foods most nights....
4      I try to eat healthy but often struggle becaus...
                             ...
120    My diet consists mainly of coffee,water,fruits...
121    A college student with an imbalanced diet tryi...
122                                 Rice,oatmeal,and tea
123    I try to eat as healthy as possible everyday. ...
124             high in protein and low in carbohydrates
Name: diet_current, Length: 119, dtype: object

In [270]:
df2['eating_changes']=clean_open_text(df2['eating_changes'])

/var/folders/3y/rrrk5xkj51dbyrm3fq2ts1th0000gn/T/ipykernel_60038/1899848916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['eating_changes']=clean_open_text(df2['eating_changes'])

In [271]:
df_main=df2.copy()
df_main

,gpa,gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,1,315.0,1,none,we dont have comfort,9,...,1,1,1,1165,345,car racing,5,1,1315,187
1,3.654,1,1,610,3,420.0,2,"chocolate,chips,ice cream","Stress,bored,anger",1,...,1,1,2,725,690,Basketball,4,2,900,155
2,3.3,1,1,720,4,420.0,2,"frozen yogurt,pizza,fast food","stress,sadness",1,...,1,2,5,1165,500,none,5,1,900,140
3,3.2,1,1,430,3,420.0,2,"Pizza,Mac and cheese,ice cream",Boredom,2,...,1,2,5,725,690,No Response,3,1,1315,240
4,3.5,1,1,720,2,420.0,2,"Ice cream,chocolate,chips","Stress,boredom,cravings",1,...,1,1,4,940,500,Softball,4,2,760,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,3.5,1,1,610,4,420.0,2,"wine. mac and cheese,pizza,ice cream",boredom and sadness,9,...,1,1,5,940,500,Softball,5,1,1315,156
121,3,1,1,265,2,315.0,2,"Pizza,Wings,Cheesecake","Loneliness,Homesick,Sadness",9,...,1,1,4,940,500,basketball,5,2,1315,180
122,3.882,1,1,720,1,420.0,1,"rice,potato,seaweed soup",sadness,9,...,1,2,5,580,690,none,4,2,1315,120
123,3,2,1,720,4,420.0,1,"Mac n Cheese,Lasagna,Pizza","happiness,they are some of my favorite foods",9,...,2,2,1,940,500,No Response,3,1,1315,135
124,3.9,1,1,430,1,315.0,2,"Chocolates,pizza,and Ritz","hormones,Premenstrual syndrome",9,...,1,2,2,725,345,No Response,4,2,575,135

In [273]:
df_main.to_csv('food_choices_cleaned.csv',index=False)